footer{
    .footer-wrapper{
        padding: 80px 0px 65px;
        box-shadow: 0px 1px $border;
        img{
            height: 40px;
            width: auto;
        }
        p{
            color: $black;
            font-size: 16px;
            line-height: 24px;
            opacity: 0.6;
            margin: 24px 0px;
        }
        .footer-social-menu{
            li{
                 height: 38px;
                 width: 38px;
                 border: 1px solid transparent;
                 border-radius: 50%;
                 display:flex;
                 justify-content: center;
                 align-items: center;
                 &:hover,&.active{
                     border-color: $accents;
                 }
                a{
                    color: $light-gray;                   
                }
            }
        }
        .footer-menu{
            list-style-type: none;
            margin: 0;
            padding: 0;
            li{
                a{
                    color: $black;
                    text-transform: capitalize;
                    line-height: 18px;
                    margin:6px 0px;
                    &:hover,&.active{
                        color:$another-accents;
                    }
                }
            }
        }
        h4{
            font-size: 14px;
            color: $light-gray;
        }
        .newsletter{
            input{
                border-radius: 8px;
                border-color: $border;
                padding: 15px 20px;
                outline: none;
                box-shadow: none;
                color: $light-gray;
                margin-top:5px;
            }
            button{
                color:$primary;
                font-weight: 600;
                padding: 14px 24px;
                border-radius: 8px;
                background: $accents;
                border:none;
                outline: none;
            }
            p{
                font-size: 15px;
            }
        }        
    }
.footer-extra-wrapper{
    padding:27px 0px;
    p{
        color: $light-gray;
        font-size: 14px;
        a{
            color:$black;
        }
    }
}
    
}