$black:#272343;
$primary:#FFFFFF;
$gray:#F0F2F3;
$light-gray:#9A9CAA;
$dark-gray:#636270;
$accents:#007580;
$border:#E1E3E5;
$btn-bg:#029FAE;
$border-color:#029FAE;
$success:#01AD5A;
$productbg:#000000d0;
$active_border:#038053;
$light-primary:#F0F2F3;
$another-accents:#007580;