.icon-btn {
    height: 52px;
    width: 52px;
    background: $primary;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    &:hover{
        background: $accents;
        color:$primary;
    }
}
.icon-btn-active {
   background: $accents;
   color: $primary;
}
