.section-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:40px 0px;
    h5{
        color:$black;
        font-size: 32px;
        font-weight: 600;
    }
    &-icon{
        display: flex;
        a{
            margin:0px 9px;
        }
    }
}